
$tag-color: #222;
$tag-background: lighten($primary-background, 30%);
$tag-color-active: black;
.tags
{
    padding-top: .1rem;
    padding-bottom: 0;

    background: white;
    padding: .4375rem .75rem 0 .75rem;
    border: 1px solid #e1e5eb;


    &:empty
    {
        &:before
        {
            content: '';
            display: block;
            height: $default-line-height;
        }
    }
    .tag
    {
        position: relative;
        display: inline-block;

        margin-right: .3rem;
        margin-bottom: .4375rem;

        .tag-input
        {
            padding: .4rem 0.8rem .4rem 0.5rem;

            border: none;
            border-radius: 4px;

            outline: none;
            font-size: $default-font-size;
            line-height: $default-line-height;
            font-family: inherit; // Importante

            white-space: pre;
            box-sizing: content-box;

            color: $tag-color;
            background: $tag-background;

            &:focus
            {
                color: $tag-color-active;
                background: transparent;

                & + .tag-cancel
                {
                    display: none;
                }
            }
        }
        
        .tag-cancel
        {
            position: absolute;
            top: 50%;
            right: 0.3em;
            transform: translateY(-50%);
            cursor: pointer;
            font-size: .6rem;
            width: 1em;
            height: 1em;
            text-align: center;
            border-radius: 50%;
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: center;

            color: #222222;
            background: white;
            &:hover
            {
                box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
            }
        }
    }

    border-radius: .25rem;
    will-change: border-color,box-shadow;
    box-shadow: none;
    transition: box-shadow .25s cubic-bezier(.27,.01,.38,1.06),border .25s cubic-bezier(.27,.01,.38,1.06);
    &:focus-within
    {
        border-color: $main-color;
        color: #495057;
        background-color: #fff;
        box-shadow: 0 0.313rem 0.719rem rgba(0,123,255,.1), 0 0.156rem 0.125rem rgba(0,0,0,.06);
    }
}


